<!DOCTYPE html>
<html lang="Spanish" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="/src/main/resources/static/css/stylelogin.css" type="text/css"> -->

    <link th:href="@{/css/stylelogin.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="background">    
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form th:action="@{/auth/login}" method="post">
        <h3>Log in</h3>
        <label>Nombre de usuario</label>
        <input type="text" name="userU" id="userU" placeholder="Ingresa tu usuario" />
        <label>Contraseña</label>
        <input type="password" name="passwordU" id="passwordU" placeholder="Ingresa contraseña" />
        
        <button type="submit">Iniciar Sesión</button>

        <button type="button" onclick="location.href='auth/Registro'">Regresar al Registro</button>
    </form>
    
    </body>
</html>