<!DOCTYPE html>
<html lang="Spanish" xmlns:th="http://www.thymeleaf.org" class="h-full bg-white">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- <link href="../../static/js/materialize/css/materialize.min.css" rel="stylesheet"> -->
    <!-- <link href="./css/general.css" rel="stylesheet"> -->
    <!-- <script src="../../static/js/plugins/jquery.js"></script>
    <script src="../../static/js/materialize/js/materialize.min.js"></script>
    <script src="../../static/js/plugins/sweetalert2.js"></script>
    <script src="../../static/js/plugins/just-validate.js"></script>
    
    <script src="../../static/js/login.js"></script> -->

    <script th:src="@{/js/plugins/jquery.js}"></script>
    <script th:src="@{/js/materialize/js/materialize.min.js}"></script>
    <script th:src="@{/js/plugins/sweetalert2.js}"></script>
    <script th:src="@{/js/plugins/just-validate.js}"></script>
    
    <script th:src="@{/js/login.js}"></script>

    <script th:src="@{https://cdn.tailwindcss.com}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/superagent}"></script>

    
    
</head>

<body class="h-full bg-gray-900 text-white">
    
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h1 class="mt-10 text-center text-5xl font-bold tracking-tight text-white">Login</h1>
            <h2 class="mt-2 text-center text-2xl font-semibold tracking-tight text-gray-400">Ingresa tus datos</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" id="formLogin" autocomplete="off">
                <div>
                    <label for="Usuario" class="block text-sm font-medium text-gray-300">Usuario</label>
                    <div class="mt-2">
                        <input type="text" name="userU" id="userU" autocomplete="off" class="bg-gray-800 text-white border border-gray-600 rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-indigo-500 dark:focus:border-indigo-500" />
                    </div>
                </div>

                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-medium text-gray-300">Contraseña</label>
                    </div>
                    <div class="mt-2">
                        <input name="passwordU" id="passwordU" type="password" autocomplete="new-password" class="bg-gray-800 text-white border border-gray-600 rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-indigo-500 dark:focus:border-indigo-500"/>
                    </div>
                </div>

                <div>
                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Ingresa
                    </button>
                </div>
            </form>

            <p class="mt-10 text-center text-sm text-gray-400">
                ¿No tienes usuario?
                <a th:href="@{/formregister}" class="font-semibold text-indigo-600 hover:text-indigo-500">Registrate</a>
            </p>
        </div>
    </div>
</body>

</html>


<!-- <body>
    <h1 class="titulo">Bienvenido ingresa tus credenciales!</h1>

    <main class="container">
        <h2>Login</h2>
        <form th:action="@{/auth/login}" method="post">
            <div class="input-field">
                <input type="text" name="userU" id="userU" placeholder="Ingresa tu usuario" />
                <div class="underline"></div>
            </div>

            <div class="input-field">
                <input type="password" name="passwordU" id="passwordU" placeholder="Ingresa contraseña" />
                <div class="underline"></div>
            </div>
            
            <input type="submit" value="Ingresar" />
            
        </form>

    </main>
</body>

</html> -->