<!DOCTYPE html>
<html lang="Spanish" xmlns:th="http://www.thymeleaf.org" class="h-full bg-white">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <script th:src="@{/js/plugins/jquery.js}"></script>
    <script th:src="@{/js/materialize/js/materialize.min.js}"></script>
    <script th:src="@{/js/plugins/sweetalert2.js}"></script>
    <script th:src="@{/js/plugins/just-validate.js}"></script>
    <script th:src="@{https://cdn.tailwindcss.com}"></script>

    <!-- Aquí va tu código JS para cargar el nombre desde localStorage -->
    <script>
        window.onload = function() {
        // Obtén el objeto usuarioDTO desde el localStorage
        const usuarioDTO = JSON.parse(localStorage.getItem('usuarioDTO'));
        
        // Verifica si el objeto existe y tiene el nombre
        if (usuarioDTO && usuarioDTO.nombre) {
          // Inyecta el nombre del usuario en un contenedor con id "username"
          document.getElementById("username").textContent = usuarioDTO.nombre;
        }
      };
    </script>
</head>

<body class="h-full">
    <div class="relative py-16 bg-gradient-to-br from-sky-50 to-gray-200">
        <div class="relative container m-auto px-6 text-gray-500 md:px-12 xl:px-40">
            <div class="m-auto md:w-8/12 lg:w-6/12 xl:w-6/12">
                <div class="rounded-xl bg-white shadow-xl">
                    <div class="p-6 sm:p-16">
                        <div class="space-y-4">

                            <!-- Aquí se inyectará el nombre del usuario -->
                            <h2 id="username" class="mb-8 text-2xl text-cyan-900 font-bold">Bienvenido</h2>
                        </div>
                        <div class="mt-16 grid space-y-4">
                            <!-- Los botones o contenido adicional van aquí -->
                            <button class="group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                                <div class="relative flex items-center space-x-4 justify-center">
                                    <a href="">
                                        <span class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base">Title 1</span>
                                    </a>
                                </div>
                            </button>
                            <!-- Más botones -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
